%h2
  Charts

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @charts.each do |chart|
    %tr
      %td
        = link_to chart.name, chart
      %td
        = link_to 'Show', chart
      %td
        = link_to edit_chart_path(chart) do
          %i.fa.fa-pencil
          Edit
      %td
        = link_to chart, method: :delete, data: { confirm: 'Are you sure?' } do
          %i.fa.fa-trash-o
          Destroy

%br

= link_to 'New Chart', new_chart_path
