%p#notice= notice

%p
  %b Name:
  = @chart.name

#chart{ style: "width: 700px; height: 400px;" }

%h3
  Issues

- @chart.issues.each do |issue|
  %ul
    %li
      = link_to issue.url, chart_issue_path(@chart, issue)
      = issue.open

= link_to 'Add issue to this chart', new_chart_issue_path(@chart)

%br
%br

= link_to 'Edit', edit_chart_path(@chart)
\|
= link_to 'Back', charts_path

:coffee
  $.ajax
    type: "GET"
    contentType: "application/json; charset=utf-8"
    url: "/get_data"
    dataType: "json"
    success: (received_data) ->
      chart = c3.generate(
        bindto: "#chart"
        data:
          columns: [
            received_data,
            ['Ideal', 98, 88, 78, 68, 58, 48, 38]
          ]
      )

    error: (result) ->
      $("#chart").text "Chart load failed"
