%p#notice= notice

%h3
  = @chart.name

#chart{ style: "width: 900px; height: 500px;" }

%h3
- if @chart.velocity.nil?
  = link_to new_velocity_path do
    %i.fa.fa-plus
    Create Velocity
- else
  = link_to edit_velocity_path(@chart) do
    %i.fa.fa-pencil
    Edit Velocity

%h3
  Issues

- @chart.issues.each do |issue|
  %ul
    %li
      = link_to issue.url, chart_issue_path(@chart, issue)
      = issue.open

= link_to new_chart_issue_path(@chart) do
  %i.fa.fa-plus
  Add issue to this chart

%br
%br

= link_to edit_chart_path(@chart) do
  %i.fa.fa-pencil
  Edit Chart
\|
= link_to 'Back', charts_path

:coffee
  $.ajax
    type: "GET"
    contentType: "application/json; charset=utf-8"
    url: "/get_data"
    dataType: "json"
    data:
      chart_id: "#{@chart.id}"
    success: (received_data) ->
      console.log(received_data)
      chart = c3.generate(
        bindto: "#chart"
        data:
          x: 'x',
          xFormat: '%Y-%m-%d'
          columns: [
            received_data[0],
            received_data[1],
            received_data[2]
          ]
        axis:
          x:
            type: 'timeseries'
            localtime: true
            tick:
              format: '%Y-%m-%d'
            label:
              text: "Date"
          y:
            label:
              text: "Issues"
              position: "outer-middle"
      )

    error: (result) ->
      $("#chart").text "Create velocity!"
